body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

textarea {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

#instancesList {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#instancesList li {
    padding: 10px;
    background-color: #e7e7e7;
    margin: 5px 0;
    border-radius: 5px;
}

#refreshInstances {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#refreshInstances:hover {
    background-color: #0056b3;
}
